<nav class="navbar navbar-expand-lg navbar-dark glass-nav fixed-top ">
  <div class="container">

    <a class="navbar-brand fw-bold fs-3" href="/">
      <i class="fa-solid fa-layer-group"></i> SmartMerge
    </a>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/features">Features</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

      </ul>

    </div>

  </div>
</nav>